@model TsukarMVC.ViewModels.HomeViewModel;
<h2>Registro de Entrada de Veículos</h2>

<form action='@Url.Action("FiltrarRegistros", "Home")' method="POST">
    <label for="data">Data</label>
    <input type="date" name="data">

    <label for="modelo">Modelo:</label>
    <select name="modelo">
            <option value="" disabled selected>Selecione</option>
            @foreach (var item in Model.Modelos){
                <option value="item.Nome">@item.Nome</option>
            }

    </select>
    
    <input type="submit" value="Filtrar">
</form>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Placa</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Data e Horário de Entrada</th>
        </tr>
    <thead>
    <tbody>
        @foreach (var item in Model.Registros)
        {
            if (item == null){
                continue;
            }

            <tr>
                <td>@item.Nome</td>
                <td>@item.Placa</td>
                <td>@item.Marca.Nome</td>
                <td>@item.Modelo.Nome</td>
                <td>@item.DataEntrada</td>
            </tr>
        }
    </tbody>
</table>